@model Bookmaker.Models.Section

<div class="display-label five columns">
    @Html.LabelFor(model => model.SectionType)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.SectionType)
</div>

<div class="display-label five columns">
    @Html.LabelFor(model => model.Content)
</div>
<div class="display-field eleven columns">
    @Html.DisplayFor(model => model.Content)
</div>