<div id="Aide_SectionType_Titre" class="offset-by-four twelve columns aide">
    <p>Les contenus de type "Titre" peuvent être un texte général : "Départ direction le Sud",
       "Animation dansante", "OU : Visite des jardins", "OPTION : Promenade en calèche",
       "Retour dans votre région", etc...</p>
    <p>Pour les Journées, les titres peuvent être prédécés par l'heure : "9h30 : Départ vers le Parc",
       "11h00 : Etape à Avignon", "15h30 : Animation dansante", ...</p>
    <p>A la place de l'heure, il est possible d'indiquer "Matin : ", "Midi : " ou "Après-midi : ",
       comme par exemple "Midi : Déjeuner au restaurant (vin et café compris)".</p>
    <p>Pour les Séjours, les titres devraient toujours être précédés par l'indication du numéro du
       jour : "Jour 1 : ", "Jour 2 : ", "Jour 3 : ", ...</p>
    <p>Si on saisi "Retour" comme titre (avec ou sans majuscules), il se transformera automatiquement
       en "Retour dans votre région" (pratique dans le cas des Journées).</p>
</div>

<div id="Aide_SectionType_Texte" class="aide offset-by-four twelve columns">
    <p>Le contenu de type "Texte" sert à saisir la description d'une partie du voyage. Celle-ci peut
       contenir plusieurs paragraphes en faisant un retour à la ligne à la fin de chaque paragraphe.</p>
    <p>Lorsque la description est un peu longue (dans le cas des Séjours par exemple), il est possible
       de mettre des sous-titres pour découper le contenu du jour. Pour cela, il faut ajouter "= "
       (égale + espace) devant la ligne servant de sous-titre.</p>
    <p>Toujours dans le cas des Séjours, la description peut aussi contenir des listes. Pour cela, il
       suffit d'ajouter "* " (étoile + espace) devant les paragraphes à présenter sous forme de liste.</p>
    <p>Très très exceptionnelement, on peut vouloir mettre quelques mots en gras. Dans ce cas, il
       faut encadrer le texte concerné par "~~" (tilde + tilde) : "Du texte normal avec ~~juste trois
       mots~~ en gras". C'est un peu compliqué, mais c'est vraiment à réserver aux cas absolument
       indispensables : "L'après-midi, promenade dans le parc pour découvrir le Jardin des Fleurs,
       avec en option le retour en calèche (~~supplément 5 €~~)".</p>
</div>

<div id="Aide_SectionType_Menu" class="aide offset-by-four twelve columns">
    <p>Le contenu de type "Menu" sert pour saisir le menu (généralement dans le cas des Journées). Ce
       contenu doit toujours commencer par une première ligne de titre, comme "Menu :", "Exemple de
       menu :" ou "Idée de menu :" dans les cas le plus simple.</p>
    <p>Chaque plat du menu doit ensuite être saisi sur une ligne différente. Il est possible d'indiquer
       plusieurs plats sur la même ligne s'il s'agit d'un truc à choisir : "Mousse au chocolat ou Tarte
       aux pommes ou Crème brûlée".</p>
    <p>Lorsque le voyage donne le choix entre plusieurs menus, il faut créer plusieurs contenus de type
       "Menu". Dans ce cas, la première ligne de titre doit servir à préciser de quel menu il s'agit :
       "Menu A :", "Menu B :", "Menu Enfant :" , "Menu Romain : ", ... Et normalement, il devrait exister
       un tarif différent pour chaque menu.</p>
    <p>Dans le cas de menus où il y a beaucoup de choix pour chaque plat, il est aussi possible de créer
       un contenu de type "Menu" pour chaque partie du menu. La première ligne de titre sert alors à
       préciser les différents éléments du repas : "Entrée au choix :", "Plat au choix :", "Dessert au
       choix :", ...</p>
</div>

<div id="Aide_SectionType_Menu_Centre" class="aide offset-by-four twelve columns">
    <p>Le contenu de type "Menu centré" sert pour imprimer un menu avec une ligne pour chaque plat
       (un peu comme sur le menu d'un restaurant). Il est plutôt à réserver dans le cas de menus un peu
       exceptionnels, lorsque le repas est en quelque sorte le clou du voyage : dîner à thème, repas
       gastronomique, réveillon, ...</p>
    <p>Pour que le menu soit présenté correctement, il faut saisir chaque plat sur une ligne différente.</p>
    <p>Attention : il ne faut pas saisir de titre en 1° ligne (style "Menu :") contrairement au
       contenu de type "Menu" normal.</p>
</div>

<div id="Aide_SectionType_Image" class="aide offset-by-four twelve columns">
    <p>Le contenu de type "Image" sert à définir quelle image doit illustrer le voyage. Pour l'instant
       il faut se contenter d'indiquer celle-ci sous la forme "(2013-uncode)", soit parentèse ouvrante,
       l'année du voyage, un tiret, un code en lettres minuscules sans accents et une parenthèse fermante.
       En attendant mieux :)</p>
</div>

<div id="Aide_SectionType_Tarif" class="aide offset-by-four twelve columns">
    <p>Le contenu de type "Tarif" sert uniquement pour faire apparaitre le tarif du voyage avant
       la fin de la page, comme c'est le cas par défaut. Son utilisation est donc très exceptionnelle
       et il ne devrait être employé que pour les Séjours.</p>
    <p>Cela permet par exemple d'imprimer le tarif puis d'ajouter après celui-ci un paragraphe
       supplémentaire pour présenter une journée optionnelle ou pour détailler le prix des différentes
       options proposées pendant le séjour.</p>
    <p>Dans tous les cas, il n'y a pas de "vrai" contenu à saisir et il faut juste mettre "*" dans la
       zone de saisie du contenu.</p>
</div>
