@{
    ViewBag.Title = "A propos";
}

<h2>A propos</h2>
<p>
     Bookmaker est un projet de test pour développer une application gérant
     une petite brochure de voyages en repartant du code réalisé pour le projet
     <a href="http://repertoir.apphb.com/">Repertoir</a>.
</p>
