@model Bookmaker.Models.Price

@{
    ViewBag.Title = "Supprimer un tarif";
}

<h2 class="crud">@Html.ActionChildcrud("Tarifs", "Prices", Model.Travel_ID)</h2>

<fieldset>
    <legend>Suppression tarif «&nbsp;@Model.Travel.Title&nbsp;» ?</legend>

    @Html.Partial("_Display", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p class="offset-by-five eleven columns alpha">
            <input type="submit" value="Ok pour supprimer !" />
            @Html.ActionCancel()
        </p>
    }
</fieldset>